@import '1-helpers/font';
@import '1-helpers/setup';
@import '2-layouts/wrapper';
@import '2-layouts/header';
@import '2-layouts/main';
@import '2-layouts/footer';
@import '3-modules/nav';
@import '3-modules/hero';
@import '3-modules/scroll';
@import '3-modules/projects';
@import '3-modules/contact';
