.hero {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        font-weight: 300;
    }
}

@media(min-width: 0px) {
    .hero {
       
        &__name {
            font-weight: 700;
            font-size: 2.4rem;
            letter-spacing: -1px;
            margin-bottom: 0.2em;
        }

        &__title {
            font-size: 1.3rem;
        }
    }
}

@media(min-width: 370px) {
    .hero {
       
        &__name {
            font-size: 3.1rem;
        }

        &__title {
            font-size: 1.5rem;
        }
    }
}

@media(min-width: 748px) {
    .hero {
       
        &__name {
            font-size: 5.8rem;
        }

        &__title {
            font-size: 1.9rem;
        }
    }
}

@media(min-width: 1281px) {
    .hero {
       
        &__name {
            font-weight: 900;
            margin-top: 0.5em;
            font-size: 8.2rem;
        }

        &__title {
            font-size: 2.6rem;
        }
    }
}