.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
        margin-bottom: 1em;
        animation: opacity 1s ease-in infinite alternate;
    }

    &::after {
        content: '';
        height: 90px;
        width: 1px;
        background: #000000;
    }
}

@keyframes opacity {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}